<div class="row header">
    <div class="col-sm-1 p-1">
        <img [src]="imgPath" class="rounded d-block mx-3 img-fluid" alt="Cinque Terre" width="200" height="20">
    </div>
    <div class="col-sm-6 p-1">
        <div class="input-group search_box">
            <input type="text" class="form-control " placeholder="Search">
            <span class="btn btn_search" type="submit">
                <div class="material-symbols-outlined my-auto" style="font-size: 30px;">search</div>
            </span>
        </div>
    </div>
    <div class="col-sm-3 d-flex text-white icon_box">
        <div class="container w-auto">
            <div class="">
                <span style="font-size: 20px;"><b>Hot line</b></span><br>
            </div>
            <div style="font-size: 20px;"><span><b>0909123123</b></span></div>
        </div>
        <div class="container w-auto">
            <div class="mgl-25">
                <span class="material-symbols-outlined">person</span>
            </div>
            <div>Đăng nhập</div>
        </div>
        <div class="container w-auto">
            <div class="mgl-25">
                <span class="material-symbols-outlined">shopping_cart</span>
            </div>
            <div>Giỏ hàng</div>
        </div>
    </div>
</div>