.fake_mainpage {
  width: 150px;
  height: 50px;
  margin: 50px;
}
.cbb-custom {
  box-shadow: 3px 3px 2px #ccc;
  border-radius: 5px;
}
.box_content {
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  width: 100%;
  height: 100%;
  background-color: #d4d4d4;
  cursor: pointer;
}
.cbb_content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.content {
  display: flex;
  width: 70%;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.expand_arrow {
  display: flex;
  justify-content: end;
  width: 30%;
  font-size: 30px;
}
.modal_cbb {
  position: absolute;
  display: none;
  height: fit-content;
  width: inherit;
  animation: dropdown 0.3s ease forwards;
  background-color: #fbfbfb;
  z-index: 9999;
}
.show_modal {
  display: block;
}

.option_cbb {
  border: 1px solid rgb(182, 182, 182);
  width: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 500;
}
.option_cbb:hover {
  background-color: #f5f5f5;
  transition: 0.3s;
}

/* animation */
@keyframes dropdown {
  from {
    opacity: 0.5; /* Bắt đầu với độ trong suốt */
    transform: translateY(-5px); /* Di chuyển lên trên một chút */
  }
  to {
    opacity: 1; /* Hiển thị hoàn toàn */
    transform: translateY(0); /* Không di chuyển */
  }
}

@keyframes dropdownReverse {
  from {
    opacity: 1; /* Hiển thị hoàn toàn */
    transform: translateY(0); /* Không di chuyển */
  }
  to {
    opacity: 0; /* Ẩn đi */
    transform: translateY(-10px); /* Di chuyển lên trên một chút */
  }
}
