.background-admin {
  background-color: #f3f3f1;
  height: 100vh;
}

.admin-left-column {
  height: inherit;
}

.admin-right-column {
  padding: 0;
  padding-left: 15px;
  padding-top: 5px;
  padding-right: 10px;
  height: inherit;
  overflow: scroll;
  overflow-x: hidden;
}

.admin-right-column::-webkit-scrollbar {
  width: 3px;
  background-color: gainsboro;
}

.admin-right-column::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 20px;
}

.box_menu_field {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.logo {
  display: flex;
  justify-content: center;
}
.logo > img {
  width: 50%;
  border-radius: 100px;
}

.list_menu_admin {
  width: 100%;
  min-width: 200px;
}

.btn_leave {
  background-color: rgb(232, 72, 72);
  border: none;
  height: 50px;
  width: 70%;
  border-radius: 100px;
}

.btn_leave:hover {
  transition: 0.5s;
  background-color: #ec1e1e;
}

.master_page {
  padding: 0%;
  background-color: white;
}
/* phần router */
.container-admin-router-outlet {
  width: 100%;
  height: fit-content;
  background-color: #ffff;
  border-radius: var(--border-radius-container);
  box-shadow: var(--shadow);
}
