<!-- header -->
<!-- <div class="headerBox">
  <div class="headerMaster">PRODUCT MANAGE</div>
  <div class="buttonBox">
    <div class="btnInBox add" (click)="addNewPD()">
      <div class="material-symbols-outlined icon">add</div>
      <div class="btn_content"><b>THÊM</b></div>
    </div>
    <div
      class="btnInBox noSelect remove"
      [class.InActive]="isActiveButtonRemove"
      (click)="removeProduct()"
    >
      <div class="material-symbols-outlined icon">delete</div>
      <div class="btn_content"><b>XÓA</b></div>
    </div>
  </div>
</div> -->
<!-- header -->
<div class="product_tag_box noSelect">
  <div class="tag_container">
    <ng-container *ngFor="let tag of tagList">
      <div class="tag" (click)="handleTag(tag)">{{ tag }}</div>
    </ng-container>
  </div>
</div>
<!-- table view start-->
<ng-container>
  <app-tableCustom
    id="tableProduct"
    [ngClass]="{ display: isDisplay === false }"
    [tableName]="tableProduct"
    [API_NAME]="'Product'"
    [columnsView]="productColumns"
    [displayButtons]="'ADD,DELETE'"
    (callForm)="callForm_Product($event)"
    [(isReload_Table)]="isReload_Master"
  ></app-tableCustom>
  <app-tableCustom
    id="tableProductCategory"
    [ngClass]="{ display: isDisplay === true }"
    [tableName]="tableProductCategory"
    [API_NAME]="'ProductCategory'"
    [columnsView]="productCategoryColumns"
    [displayButtons]="'ADD,DELETE'"
    (callForm)="callForm_Product($event)"
    [(isReload_Table)]="isReload_Master"
  ></app-tableCustom>
</ng-container>

<!-- table view end -->

<!-- form add san pham start -->
<app-dialogProduct
  #dialog
  (callReloadTable_Product_Dialog)="callReloadTable_Master_Product($event)"
></app-dialogProduct>
<app-dialogPDCategory #dialogPDCate></app-dialogPDCategory>
<!-- form add san pham end-->
<!-- form chi tiet san pham -->
