<!-- header -->
<div class="headerBox">
  <div class="headerMaster">PRODUCT MANAGE</div>
  <div class="btn_addNewPD" (click)="addNewPD()">
    <span class="material-symbols-outlined iconAdd">add</span
    ><span class="btn_add_content"><b>Add Product</b></span>
  </div>
</div>
<!-- header -->
<!-- control box -->
<div class="control_box text-white">
  <div class="box_view" style="background-color: rgba(0, 0, 0, 0.822)">
    <div class="material-symbols-outlined icon_box_view">package_2</div>
    <div class="content_box_view">
      <p class="number_box_view">{{ totalProducts }}</p>
      <p class="text_box_view">Total Products</p>
    </div>
  </div>
  <div class="box_view" style="background-color: rgba(0, 128, 0, 0.893)">
    <div class="material-symbols-outlined icon_box_view">check_circle</div>
    <div class="content_box_view">
      <p class="number_box_view">{{ active }}</p>
      <p class="text_box_view">Active</p>
    </div>
  </div>
  <div class="box_view" style="background-color: rgba(255, 0, 0, 0.714)">
    <div class="material-symbols-outlined icon_box_view">close</div>
    <div class="content_box_view">
      <p class="number_box_view">{{ deactive }}</p>
      <p class="text_box_view">Deactive</p>
    </div>
  </div>
  <div class="box_view" style="background-color: rgba(255, 68, 0, 0.855)">
    <div class="material-symbols-outlined icon_box_view">inventory_2</div>
    <div class="content_box_view">
      <p class="number_box_view">{{ outofstock }}</p>
      <p class="text_box_view">Out of stock</p>
    </div>
  </div>
</div>
<!-- control box -->
<!-- table view start-->
<div class="toolbox">
  <input class="search_product" type="text" placeholder="Enter name ..." />

  <div class="btn_delete">
    <span>
      <span class="material-symbols-outlined delete_icon"> delete </span>
      Remove Product
    </span>
  </div>
</div>

<!-- <div class="search_product">
  <input type="text" placeholder="Enter name ...">
</div> -->
<div class="product_table">
  <app-tableCustom
    [tableHeaders]="headerProduct"
    [tableContents]="productList"
    [actionValues]="actionProductValues"
    [maxWidth]="custable_maxWidth_Product"
    [maxHeight]="custable_maxHeight_Product"
  ></app-tableCustom>
</div>
<!-- table view end -->

<!-- form add san pham start -->

<div class="modal" [class.open]="isOpenForm" (click)="toggleShowOverlay()">
  <div class="modal_container_form_addsp" (click)="propagation($event)">
    <div class="modal_close_btn">X</div>
    <header class="modal_header">
      <i class="header_icon ti-package"></i>
      NEW PRODUCT
    </header>
    <div class="modal_body">
      <form class="form_add_sp" action="" method="post">
        <label class="modal-label"> Product Name : </label>
        <input class="form_input" type="text" id="pd_name" />
        <label class="modal-label"> Product Image : </label>
        <div class="d-flex">
          <input class="form_input" type="text" id="pd_img" />
          <button style="height: 36px">openfile</button>
        </div>

        <label class="modal-label"> Price : </label>
        <input class="form_input" type="number" id="pd_price" />
        <label class="modal-label"> Quantity : </label>
        <input class="form_input" type="number" id="pd_quantity" />
        <div class="cbb_form">
          <label class="modal-label"> Status : </label>
          <cbb-custom
            [dataSourceChild]="dataStatus"
            [displayName]="'status'"
            [value]="'value'"
          ></cbb-custom>
        </div>
        <div class="cbb_form" style="z-index: 1000;">
          <label class="modal-label"> Category : </label>
          <cbb-custom
            [dataSourceChild]="dataCategory"
            [displayName]="'name'"
            [value]="'value'"
          ></cbb-custom>
        </div>
        <label for="" class="modal-label"> Description : </label>
        <textarea class="descrip_input"></textarea>
        <div class="btn_confirm"><p>CONFIRM</p></div>
      </form>
    </div>
  </div>
</div>

<!-- form add san pham end-->
