/* main */
.headerBox {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.headerMaster {
  border: 2px solid rgb(40, 96, 175);
  background-color: rgb(40, 96, 175);
  border-radius: 10px;
  font-size: 23px;
  font-weight: 700;
  padding: 10px;
  width: 20%;
  height: 10%;
  text-align: center;
}
.buttonBox {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.buttonBox > .add {
  background-color: #2ecc71;
}
.buttonBox > .add:hover {
  background-color: #27ae60;
}
.buttonBox > .remove:active,
.buttonBox > .add:active {
  transform: scale(0.9);
}
.buttonBox > .remove {
  background-color: #e74c3c;
}
.buttonBox > .remove:hover {
  background-color: #c0392b;
}
.btnInBox {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 5px;
  transition: 0.3s;
}
.btnInBox:hover {
  cursor: pointer;
  transition: 0.3s;
}
.InActive {
  background-color: #751309 !important;
  cursor: default !important;
  pointer-events: none !important;
}
.btn_content,
.icon {
  vertical-align: middle;
}
.icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}
/* control box css start */
.control_box {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  padding: 20px;
  background-color: rgba(214, 218, 224, 0.393);
}
.box_view {
  display: flex;
  justify-content: start;
  border-radius: 1rem;
  height: 55%;
  width: 20%;
  box-shadow: 3px 2px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
  gap: 10px;
}
.icon_box_view {
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.content_box_view {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  font-weight: 700;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
}
.content_box_view > p {
  margin: 0;
}
/* control box css end */
/* custom table css  */
.product_table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 50px;
  width: 100%;
  height: 50%;
  margin-top: 20px;
}
.product_table > .table {
  min-height: 500px;
  max-height: 500px;
}
.toolbox {
  /* background-color: black; */
  font-size: 18px;
  display: flex;
  height: 3rem;
  justify-content: space-between;
}

.search_product {
  border: none;
  outline: none;
  border-bottom: 2px solid;
  border-color: dodgerblue;
  line-height: 2rem;
}

.btn_delete {
  background-color: #e53935;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.delete_icon {
}
.btn_delete:hover {
  transition: 0.3s;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
/* form add san pham CSS */

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
}
.open {
  display: flex;
}

.modal_container_form_addsp {
  position: relative;
  background-color: white;
  width: 50%;
  height: 90%;
  animation: modalMoveIn ease 0.5s;
}
.modal_close_btn {
  position: absolute;
  right: 0;
  padding: 16px;
  color: white;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}
.modal_close_btn:hover {
  transition: 0.3s;
  background-color: red;
}

.modal_header {
  background-color: dodgerblue;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
}
.header_icon {
  font-size: 30px;
  margin: 16px;
  font-weight: 1000;
}
.modal_body {
  padding: 20px 80px;
}
.modal-label {
  font-size: 20px;
  font-weight: 500;
}

.form_input {
  width: 100%;
  margin-bottom: 16px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;
  outline: auto;
}
.descrip_input {
  width: 100%;
  resize: none;
  height: 20vh;
  margin-bottom: 16px;
}
.btn_confirm {
  width: 50%;
  display: flex;
  border: none;
  border-radius: 20px;
  background-color: dodgerblue;
  height: 50px;
  text-align: center;
  justify-content: center;
  margin-left: 200px;
}
.btn_confirm > p {
  margin-top: 8px;
  font-weight: 500;
  font-size: 24px;
}

.cbb_form {
  display: flex;
  height: 50px;
}
.cbb_form > label {
  margin-right: 20px;
}
/* tag */
.tag_container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  padding: 20px 20px 0 20px;
}
.tag {
  transition: 0.3s;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: var(--border-radius-container);
  background-color: #ff5252;
  text-align: center;
}
.tag:hover {
  transition: 0.3s;
  background-color: #ff8a80;
  cursor: pointer;
}
.display {
  display: none;
}
/* animation */
@keyframes modalMoveIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalMoveOut {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-140px);
  }
}
