.list-group-item {
  margin-bottom: 10px;
}
.list-group-item {
  display: flex;
  justify-content: center;
}

.iconMenu {
}
.menuItem {
  width: 100px;
  font-weight: 600;
}
.list-group-item:hover {
  background-color: #2fa4c8;
  border-color: #2fa4c8;
  transition: 0.5s;
  cursor: pointer;
}

.actived {
  background-color: #2fa4c8;
  border-color: #2fa4c8;
  transition: 0.5s;
}
.box_content {
  text-decoration: none;
  color: black;
  display: flex;
}
