<div class="listMenu text-center">
  <ul class="list-group">
    <a
      *ngFor="let menuItem of menuItems; let idx = index"
      [routerLink]="menuItem === 'Home' ? '' : menuItem"
      class="rounded-pill"
      style="text-decoration: none"
    >
      <li
        class="list-group-item"
        [class.isActive]="isActive"
        (click)="handleClick(idx)"
        [ngClass]="{ actived: activedItem === idx }"
      >
        <div class="material-symbols-outlined iconMenu">
          {{ iconItems[idx] }}
        </div>
        <div class="menuItem">{{ menuItem }}</div>
      </li>
    </a>
  </ul>
</div>
