.list-group-item {
  margin-bottom: 10px;
}
.list-group-item {
  display: flex;
  justify-content: center;
}
.iconMenu {
}
.menuItem{
  width: 100px;
}
.list-group-item:hover {
  background-color: #2fa4c8;
  border-color: #2fa4c8;
  transition: 0.5s;
  cursor: pointer;
}

.actived {
  background-color: #2fa4c8;
  border-color: #2fa4c8;
  transition: 0.5s;
}
