<div class="listMenu text-center">
  <ul class="list-group">
    <li
      *ngFor="let menuItem of menuItems; let idx = index"
      class="list-group-item rounded-pill"
      [class.isActive]="isActive"
      (click)="handleClick(idx)"
      [ngClass]="{ actived: activedItem === idx }"
    >
      <a class="box_content" [routerLink]="menuItem === 'Home' ? '' : menuItem">
        <div class="material-symbols-outlined iconMenu">
          {{ iconItems[idx] }}
        </div>
        <div class="menuItem">{{ menuItem.toUpperCase() }}</div>
      </a>
    </li>

    <li class="list-group-item rounded-pill" (click)="backtoMainPage()">
      <div class="menuItem">MAIN PAGE</div>
    </li>
  </ul>
</div>
