<div class="box_pagination">
  <div class="box_select">
    <span>Items per page: </span>
    <select
      name=""
      id=""
      #optionPerPage
      (change)="changeItemPerPage(optionPerPage.value)"
    >
      <ng-container *ngFor="let ippage of itemPerPageArray">
        <option [value]="ippage">{{ ippage }}</option>
      </ng-container>
    </select>
  </div>

  <div class="box_content">
    {{ itemStart }} to {{ itemEnd }} of {{ totalItems }}
  </div>

  <div class="box_arrow">
    <nav>
      <ul class="pagination" style="cursor: pointer">
        <li class="page-item">
          <a
            class="page-link "
            (click)="pageClicked(currentPage - 1)"
            (click)="previousClicked()"
            [ngClass]="{ disabled: currentPage === 1 }"
            ><div class="material-symbols-outlined arrow">arrow_back_ios</div>
          </a>
        </li>
        <!-- <li
                class="page-item"
                [ngClass]="{ active: page == currentPage }"
                *ngFor="let page of pages"
                (click)="pageClicked(page)"
              >
                <a class="page-link">{{ page }}</a>
              </li> -->
        <li class="page-item">
          <a
            class="page-link "
            [ngClass]="{ disabled: currentPage === totalPages }"
            (click)="pageClicked(currentPage + 1)"
            (click)="nextClicked()"
            ><div class="material-symbols-outlined arrow">arrow_forward_ios</div></a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
