.header {
  padding: 0;
  background-color: #ffff;
  height: 60px;
  border-radius: var(--border-radius-container);
  box-shadow: var(--shadow);
  margin-bottom: 10px;
}
.avatar{
  display: flex;
  align-items: center;
  padding-right: 50px;
}