.box_menu_field {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 300px;
  padding: 20px 10px;
  background-color: rgb(73, 119, 227);
  gap: 20px;
  justify-content: space-between;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo > img {
  width: 50%;
  border-radius: 100px;
}

.list_menu_admin {
  width: 70%;
  min-width: 200px;
}

.btn_leave {
  background-color: rgb(232, 72, 72);
  border: none;
  height: 50px;
  width: 70%;
  border-radius: 100px;
}

.btn_leave:hover {
  transition: 0.5s;
  background-color: #ec1e1e;
}

.master_page {
  padding: 0%;
  background-color: white;
}

