<div class="row w-100 p-0 m-0">
  <div class="col-3 p-0">
    <div class="box_menu_field">
      <div class="d-flex flex-column align-items-center gap-3">
        <div class="logo">
          <img [src]="imgPath" class="" alt="" />
        </div>
        <div class="list_menu_admin">
          <app-menu></app-menu>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <button class="btn_leave" (click)="navigateToHome()">Leave</button>
      </div>
    </div>
  </div>
  <div class="col-9 p-0">
    <app-header_master></app-header_master>
    <router-outlet></router-outlet>
  </div>
</div>
