/* CSS của component chứa table */
.table_with_pagination_component {
  width: 100%;
  box-shadow: var(--shadow);
  padding: 20px 20px;
  padding-bottom: 0px;
}
.header-table-custom {
  width: 100%;
  height: 70px;
  border-top-left-radius: var(--border-radius-container);
  border-top-right-radius: var(--border-radius-container);
  display: flex;
  border-bottom: 1px solid rgba(226, 221, 221, 0.5);
}
.table-name {
  /* background-color: dodgerblue; */
  display: flex;
  width: 40%;
  height: 100%;
  line-height: 70px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 500;
}

.table-box-button {
  width: 60%;
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: end;
  padding-right: 20px;
}
.buttons {
  transition: 0.1s;
  width: 120px;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  gap: 5px;
  border-radius: var(--border-radius-container);
}
.addButton:hover {
  transition: 0.1s;
  background-color: #81a94a !important;
  cursor: pointer;
}

.buttons-icon {
  line-height: 48px;
  font-size: 30px;
}
.buttons-name {
  line-height: 50px;
}
.buttons-name,
.buttons-icon {
  font-weight: 600;
}

.box-table {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-bottom-left-radius: var(--border-radius-container);
  border-bottom-right-radius: var(--border-radius-container);
  overflow-x: auto;
}
.table-scroll {
  max-width: 1500px;
  height: auto;
  overflow-x: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  max-height: 540px;
}
.table-scroll::-webkit-scrollbar-thumb {
  background-color: black;
}
.tableCustom {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.header-table-custom,
.box-table {
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
/* search input CSS */
.search-box {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
  gap: 5px;
}
.search-box > label {
  line-height: 40px;
  font-size: 20px;
  font-weight: 600;
}
.button_search {
  transition: 0.2s;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-container);
  width: 50px;
  border: 1px solid #ccc;
}

.button_search:hover {
  transition: 0.2s;
  background-color: #e3e3e3;
}
.deleteButton {
  transition: 0.2222s;
}
.deleteButton:hover {
  transition: 0.2222s;
  background-color: #c50000 !important;
  cursor: pointer;
}
.disabledDelete {
  transition: 0.2222s;
  background-color: #550c13cd !important;
  pointer-events: none;
}
.disabledTD {
  pointer-events: none;
}
/* CSS của table */
.table_with_pagination_component > tbody {
}
.tableCustom thead {
  position: sticky;
  top: 0;
  z-index: 999;
}
.table_thead_cells {
  border: 2px solid rgb(132, 132, 132);
  height: 50px;
  font-weight: 800;
  font-size: 20px;
  background-color: #ccc;
}
.table_tbody_cells {
  line-height: 40px !important;
  padding: 0px 10px;
  border: 1px solid rgb(114, 114, 114);
  height: 50px;
  width: 150px;
}
.table_thead_cells,
.table_tbody_cells {
  text-align: center;
}
.tbody_rows:hover {
  transition: 0.2s;
  background-color: #e3e3e3;
  cursor: pointer;
}
tbody tr:nth-child(even) {
  background-color: #c7e4fe36;
}
tbody tr:nth-child(even):hover {
  background-color: #e3e3e3;
}
.row_check_box {
  width: 30px;
  border: 1px solid rgb(114, 114, 114);
  align-items: center;
  padding-left: 15px;
}
