<div class="table_modal">
  <table class="table_custom">
    <thead>
      <tr>
        <th class="header">
          <span><input type="checkbox" name="" id="" /></span>
        </th>
        <ng-container *ngFor="let itemHeader of tableHeaders">
          <th class="header productNameHeader">
            <p class="wrap_content">{{ itemHeader["Head"] }}</p>
          </th>
        </ng-container>
      </tr>
    </thead>

    <tbody class="tbody_scroll">
      <tr (click)="emitTableItem(item)" *ngFor="let item of paginatedData; index as idx">
        <td class="content">
          <span><input type="checkbox" /></span>
        </td>
        <!-- <td>{{ idx + 1 }}</td> -->
        <td class="content" *ngFor="let header of tableHeaders">
          <!-- container -->
          <ng-container
            *ngIf="header['FieldName'] === 'Image'; then imageContent"
          ></ng-container>
          <ng-container
            *ngIf="header['FieldName'] === 'Status'; then statusContent"
          ></ng-container>
          <ng-container
            *ngIf="
              header['FieldName'] === 'CategoryName';
              then categoryContent;
              else normalContent
            "
          >
          </ng-container>
          <!-- template -->
          <ng-template #imageContent>
            <img
              class="imgInTable"
              [src]="item[header['FieldName']]"
              alt="Image"
            />
          </ng-template>
          <ng-template #statusContent>
            <ng-container
              *ngIf="item[header['FieldName']] === 1; else deActive"
            >
              <div class="statusActive">Active</div>
            </ng-container>
            <ng-template #deActive>
              <div class="statusDeactive">Deactive</div>
            </ng-template>
          </ng-template>
          <ng-template #categoryContent>
            {{ item[header["FieldName"]] }}
          </ng-template>
          <!-- normalcontent -->
          <ng-template #normalContent>
            <ng-container
              *ngIf="
                header['FieldName'] !== 'Image' &&
                header['FieldName'] !== 'Status' &&
                header['FieldName'] !== 'CategoryName'
              "
            >
              {{ item[header["FieldName"]] }}
            </ng-container>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pagination">
  <app-pagination
    [totalItems]="tableContents.length"
    [itemPerPage]="itemPerPageTable"
    [currentPage]="currentPageTable"
    (onClick)="changePage($event)"
    [itemPerPageArray]="itemPerPageArrayTable"
    (emitCurr)="bindCurr($event)"
    (emitItemPerPage)="bindPerPage($event)"
  ></app-pagination>
</div>
