.table_modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.table_modal::-webkit-scrollbar {
  background-color: #79c1f1;
  width: 5px;
  height: 8px;
  padding: 2px;
}
.table_modal::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 2px;
}

.table_custom {
  box-shadow: 2px 4px #888888;
  height: 100%;
  width: 100%;
}
.table_custom thead {
  position: sticky;
  top: 0;
  background-color: #0b99da;
  z-index: 1;
}

.table_custom tbody tr:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #79c1f1;
}
.table_custom tbody tr:nth-child(even) {
  background-color: #9fa9af40;
}
.table_custom tbody tr:nth-child(even):hover {
  transition: 0.3s;
  background-color: #79c1f1;
}
.tbody_scroll {
  max-height: 100px;
  overflow-y: auto;
}
.header,
.content {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
.productNameHeader {
  width: 250px;
  font-weight: 700;
}
.wrap_content {
  word-wrap: break-word;
}
/* action icon css */
.action_box {
  margin-top: 0.5rem;
  vertical-align: middle;
}
.action_icon {
  cursor: pointer;
  border-radius: 5px;
  margin: 0px 10px;
  width: 3rem;
  text-align: center;
  padding: 0.5rem;
  transition: 0.3s;
}
.action_icon:hover {
  transition: 0.3s;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.action_box > .view {
  background-color: greenyellow;
}
.action_box > .update {
  background-color: orange;
}
.action_box > .delete {
  background-color: red;
}

.imgInTable {
  width: 100px;
  height: 120px;
  border-radius: 20px;
}

.statusActive {
  color: greenyellow;
  font-weight: 500;
}
.statusDeactive {
  color: red;
  font-weight: 500;
}
/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}
