<div class="modal" [class.open]="isOpenForm" (click)="toggleShowOverlay()">
  <div class="modal_container_form_addsp" (click)="propagation($event)">
    <div class="modal_close_btn" (click)="toggleShowOverlay()">X</div>
    <header class="modal_header">
      <i class="header_icon ti-package"></i>
      {{ formTitle }}
    </header>
    <div class="modal_body">
      <div class="modal-fields">
        <div class="modal-label">Code :</div>
        <app-input-custom
          class="form_input"
          typeInput="text"
          [fontSizeInput]="fontSize"
          placeholderInput="Enter product name ..."
          [(ngModel)]="productObject.ProductCode"
        ></app-input-custom>
      </div>
      <div class="modal-fields">
        <div class="modal-label">Name :</div>
        <app-input-custom
          class="form_input"
          typeInput="text"
          [fontSizeInput]="fontSize"
          placeholderInput="Enter product code ..."
          [(ngModel)]="productObject.ProductName"
        ></app-input-custom>
      </div>
      <div class="modal-fields">
        <div class="modal-label">Image :</div>
        <app-input-custom
          class="form_input"
          typeInput="file"
          [fontSizeInput]="fontSize"
          placeholderInput="Enter product image ..."
        ></app-input-custom>
      </div>
      <div class="modal-fields">
        <div class="modal-label">Price :</div>
        <app-input-custom
          class="form_input"
          typeInput="number"
          [fontSizeInput]="fontSize"
          placeholderInput="Enter price ..."
          [(ngModel)]="productObject.Price"
        ></app-input-custom>
      </div>
      <div class="modal-fields">
        <div class="modal-label">Quantity :</div>
        <app-input-custom
          class="form_input"
          typeInput="number"
          [fontSizeInput]="fontSize"
          placeholderInput="Enter Quantity ..."
          [(ngModel)]="productObject.Quantity"
        ></app-input-custom>
      </div>
      <div class="cbb_form model-fields">
        <div class="modal-label">Status :</div>
        <cbb-custom
          class="cbb-add-form"
          [dataInput]="dataStatus"
          [displayName]="'status'"
          [value]="'id'"
          [(outputItem)]="productObject.StatusID"
        ></cbb-custom>
      </div>
      <div class="cbb_form model-fields" style="z-index: 1000">
        <div class="modal-label">Category :</div>
        <cbb-custom
          class="cbb-add-form"
          [dataInput]="dataCategory"
          [displayName]="'name'"
          [value]="'id'"
          [(outputItem)]="productObject.CategoryID"
        ></cbb-custom>
      </div>
      <div class="modal-fields">
        <div class="modal-label">Description :</div>
        <textarea
          class="descrip_input"
          [ngStyle]="{ 'font-size': fontSize }"
          [(ngModel)]="productObject.Description"
        ></textarea>
      </div>
      <div class="dialogButton">
        <button class="button-36" role="button" (click)="addORupdate()">
          <p>{{ btnContent }}</p>
        </button>
      </div>
    </div>
  </div>
</div>
